@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter  scroll-smooth;
}
/* Scrollbar genişliği */
::-webkit-scrollbar {
  width: 6px;
}

/* Scrollbar arka planı */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Scrollbar tutacağı */
::-webkit-scrollbar-thumb {
  background-color: #2dc552;
}

/* Hover durumunda scrollbar tutacağı */
::-webkit-scrollbar-thumb:hover {
  background-color: #0B3B17;
}
